
name: CI/CD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: docker compose build

  deploy:
    runs-on: [self-hosted, portfolio-meral]
    needs: build
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    steps:
      - name: Deploy
        run: |
          cd ~/Docker/repos/portfolio-meral
          git pull
          docker compose down
          docker compose up -d --build